.env
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
mobile_app
project_overview.md
data/__pycache__
application/services/__pycache__
application/routes/__pycache__
.coverage