{% extends "base_auth.html" %}

{% block title %}Client Login | Organ Donation System{% endblock %}
{% block auth_title %}Organ Donation System{% endblock %}
{% block card_title %}Client Login{% endblock %}

{% block card_content %}
<form action="{{ url_for('client_bp.client_login') }}" method="POST">
    <input type="text" name="username" placeholder="Username" required>
    <input type="password" name="password" placeholder="Password" required>
    <div class="button-group">
        <button type="submit" class="login-btn">
            <i class="bi bi-box-arrow-in-right"></i>Login
        </button>
    </div>
</form>
<div class="button-group">
    <a href="{{ url_for('client_bp.client_register') }}" class="register-btn">
        <i class="bi bi-building-add"></i>Register
    </a>
</div>
{% endblock %}
