{% extends "base_auth.html" %}

{% block title %}Client Register | Organ Donation System{% endblock %}
{% block auth_title %}Welcome to the<br>Client Register{% endblock %}
{% block card_title %}Register{% endblock %}

{% block auth_back %}
<a href="{{ url_for('client_bp.client_login') }}" class="back-arrow">
    <i class="bi bi-arrow-left"></i>
</a>
{% endblock %}

{% block card_content %}
<form action="{{ url_for('client_bp.client_register') }}" method="POST">
    <input type="text" name="username" placeholder="Company" required>
    <input type="password" name="password" placeholder="Password" required>
    <div class="button-group">
        <button type="submit" class="register-btn">
            <i class="bi bi-building-add"></i>Register
        </button>
    </div>
</form>
{% endblock %}
