<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login | Organ Donation System</title>
  <!-- need both below for local and flask application of css-->
  <link rel="stylesheet" href="/static/style.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
  <div class="background">
    <div class="login-container">
      <div class="heading-text">
        <h1>Organ Donation System</h1>
      </div>
      <div class="login-box">
        <h2>Login</h2>
        <form action="{{ url_for('auth_bp.login') }}" method="POST">
          <input type="text" name="username" placeholder="Username" required>
          <input type="password" name="password" placeholder="Password" required>
          <div class="button-group">
            <button type="submit" class="login-btn">Login</button>
          </div>
        </form>
        <div class="button-group">
          <a href="{{ url_for('auth_bp.register_page') }}" class="register-btn">Register</a>
        </div>
      </div>
    </div>
  </div>
</body>

</html>