body {
  margin: 0;
  font-family: 'Segoe UI';
  background: linear-gradient(to right, #0c9467, #45c48b);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  text-align: center;
  color: white;
}

.login-box {
  background: white;
  color: #333;
  padding: 32px;              
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  width: 300px;
  margin: 20px auto;
}

.login-box h2 {
  margin-bottom: 24px;        
  color: #0b8a60;
}

input[type="text"],
input[type="password"] {
  width: 90%;
  padding: 14px;
  margin: 8px 0;              
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;            
}

.button-group {
  margin-top: 16px;          
}

button {
  width: 45%;
  padding: 10px;              
  margin: 8px;               
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;            
}

.login-btn {
  background-color: #135e3c;
  color: white;
}

.register-btn {
  background-color: #135e3c;
  color: white;
}
